:root {
  --body-bg-color: #22212c;
  --text-color: #837e9f;
  --bg-cards: #302f3d;
  --bg-techs: #cb92b1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
}

body {
  background-color: var(--body-bg-color);
  display: flex;
  padding: 20px;
  gap: 20px;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 400;
}

aside,
main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

aside {
  min-width: 300px;
}

aside div,
main header,
.projectCard {
  background-color: var(--bg-cards);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#perfil {
  text-align: center;
}

#perfil img {
  width: 120px;
  border-radius: 50%;
  border: 2px solid #00ff00;
}

#perfil h1 {
  font-weight: 700;
  font-size: 1.5rem;
  padding-top: 10px;
}

#perfil p {
  font-weight: 300;
  font-size: 0.75rem;
}

#redes {
  font-size: 0.75rem;
}

#redes img {
  padding-right: 10px;
}

h2 {
  font-weight: 700;
  font-size: 1.25rem;
  padding-bottom: 10px;
}

#tecnologias h2 {
  padding-bottom: 20px;
}

#tecnologias div {
  background-color: none;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}

#tecnologias span {
  text-align: center;
  background-color: var(--bg-techs);
  color: black;
  font-weight: 700;
  font-size: 0.8rem;
  padding: 7px;
  border-radius: 20px;
}

h3 {
  font-weight: 700;
  font-size: 1rem;
  padding-bottom: 2px;
  padding-top: 10px;
}

div p {
  font-weight: 400;
  font-size: 0.8rem;
  padding-left: 20px;
}

main header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main header h2 {
  padding: 0;
}

main header a {
  text-decoration: none;
  font-size: 0.9rem;
}

.projectCard {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.projectCard h3 {
  display: inline;
  padding: 0;
  text-align: center;
}
